:root {
  --dark: rgb(53, 11, 77);
  --light: lavender;
  --medium: rgb(182, 149, 201);
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}

html {
  background-color: var(--light);
}

body {
  margin: 0;
}
/* start of header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--dark);
}

.header h1 {
  color: var(--light);
  font-size: 440%;
  padding-left: 50px;
}

.header nav {
  display: block;
  font-size: 150%;
  margin-block-start: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 30px;
}

.header nav ul {
  list-style-type: none;
  display: flex;
}

.header nav ul li a {
  color: var(--medium);
  text-decoration: none;
  margin: 0px 10px 0px 10px;
}

.header nav ul li a:hover {
  color: var(--light);
  font-weight: bold;
}

.footer {
  list-style-type: none;
  background-color: var(--light);
}

.bi {
  font-size: 2rem;
}
