:root {
  --dark: rgb(53, 11, 77);
  --light: lavender;
  --medium: rgb(167, 149, 201);
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}

html,
#root {
  background-color: var(--light);
}

body {
  margin: 0;
}
/* start of header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--dark);
}

.header h1 {
  color: var(--light);
  font-size: 440%;
  padding-left: 50px;
}

.navigation {
  display: block;
  font-size: 150%;
  margin-block-start: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 30px;
}

.navigation ul {
  list-style-type: none;
  display: flex;
}

.navigation ul li a {
  color: var(--medium);
  text-decoration: none;
  margin: 0px 10px 0px 10px;
}

.navigation ul li a:hover {
  color: var(--light);
}

.active {
  color: var(--light) !important;
  font-weight: bold;
}

#headshot {
  width: 300px;
  border-radius: 100%;
  box-shadow: 8px 8px grey;
}

.card-body {
  background-color: var(--medium);
}

.link {
  background-color: var(--dark);
  color: var(--light);
}

.footer {
  list-style-type: none;
  background-color: var(--light);
  margin-left: -2rem;
}

.bi {
  font-size: 2rem;
  color: var(--bs-gray-dark);
}

.bi:hover {
  color: black;
}

@media screen and (max-width: 768px) {
  * {
    text-align: center;
  }
  header {
    flex-direction: column;
    text-align: center;
  }
  .header h1 {
    padding-left: 0px;
  }
  .header nav {
    line-height: 45px;
  }
  .header nav ul {
    display: block;
    margin: 0px 10px 0px 10px;
    text-align: center;
    margin: auto;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .subhead {
    flex-direction: column;
  }
  h3 {
    text-align: center;
  }
  .about-me {
    flex-direction: column;
  }
  .about-me p {
    display: flex;
    border-left: 0px;
    border-top: 5px solid var(--dark);
  }
  .row {
    padding: 2rem;
  }

  .contact {
    padding: 2rem;
  }
}
